@CHARSET "ISO-8859-1";
.well {
	background-color : #42B0F4 !important;
	/*outline : 1px solid;
	outline-color: white;*/
	border-radius: 10px;
}



h1 { color: white; font-size: 4.0vw; !important; } 

h2 { font-size: 4.0vh; !important; } 

p { font-size: 2.5vmin; !important; }

/*
.row {
  background-color: #E8E8E8 !important;
}*/