input[type=text], select {
	left:50%;
    width: 200%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #FFCC00;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
	left:50%;
    width: 200%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #FFCC00;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #FFCC00;
    font-size: 15px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
	margin-left: 80px;
    background-color: #FFDB4A;
}

form {
	margin-right: 170px;
}


div {
	margin-top: 130px;
    border-radius: 20px;
    border-style: outset;
    background-color: white;
    padding: 0px;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #FFCC00;
	border-style: solid;
	border-width : 2px;
	border-color: #FFCC00;
	color: #525252;
	font-size: 30px;
	font-weight: bold;
	margin-right: 0px;
	
	
}